* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffaf3;
  color: #4a2c0a;
}

/* Header */
header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #f6d365, #fda085);
  color: white;
}
nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

/* About Section */
.about {
  padding: 80px 20px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.about-img img {
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.about-content {
  max-width: 550px;
}

.about-content h2 {
  font-size: 2.5rem;
  color: #b87b28;
  margin-bottom: 20px;
}

.about-content h2 span {
  color: #8b5e1f;
}

.about-content p {
  line-height: 1.7;
  font-size: 1.05rem;
  margin-bottom: 15px;
}

.btn {
  background: #b87b28;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.btn:hover {
  background: #8b5e1f;
}

/* Footer */
.footer {
  text-align: center;
  background: #f3e0b5;
  padding: 20px;
  margin-top: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-img img {
    width: 90%;
  }

  .about-content h2 {
    font-size: 2rem;
  }
}
