* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffaf3;
  color: #4a2c0a;
}

.header {
  text-align: center;
  background: linear-gradient(to right, #f6d365, #fda085);
  padding: 40px 20px;
  color: white;
}

.header h1 {
  font-size: 2.8rem;
}

.header p {
  font-size: 1.2rem;
  margin-top: 10px;
}
nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

.temple-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  gap: 30px;
}

.temple-img {
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.temple-info {
  max-width: 500px;
}

.temple-info h2 {
  color: #b87b28;
  font-size: 2rem;
  margin-bottom: 15px;
}

.temple-info p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.btn {
  background: #b87b28;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.btn:hover {
  background: #8b5e1f;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #f3e0b5;
  margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .temple-section {
    flex-direction: column;
    text-align: center;
  }

  .temple-img {
    width: 90%;
  }
}
