body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #f6d365, #fda085);
  color: white;
}
nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

.monument-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.monument-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.monument-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.monument-img:hover {
  transform: scale(1.05);
}

.monument-info h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.description {
  margin-top: 10px;
  background: #f0f0f0;
  padding: 10px 15px;
  border-left: 4px solid #2980b9;
  display: none;
  border-radius: 5px;
}
.footer {
  text-align: center;
  padding: 20px;
  background: #f3e0b5;
  margin-top: 40px;
}
