body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #f6d365, #fda085);
  color: white;
}
nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 100px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.photo img {
  width: 150%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #3498db;
  transition: transform 0.3s;
}

.photo img:hover {
  transform: scale(1.05);
}
.footer {
  text-align: center;
  padding: 20px;
  background: #f3e0b5;
  margin-top: 40px;
}
